#lower-left-content {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

#lower-left-content > div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#cluster-wrapper {
    display: flex;
    flex-direction: column;
}

#cluster-wrapper #cluster-controls {
    margin-left: 20px;
    margin-top: 5px;
}

#cluster-wrapper #heatmap-div {
    flex-grow: 1;
}

#cluster-wrapper #cellinfo-div {
    flex-grow: 1;
}

.gene-cell {
    cursor: pointer;
}

#cell-range-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;	
}

#sig-info .nav {
    margin-bottom: 10px;
}

#sig-info .tab-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column
}

#sig-info .tab-content > div{
    flex-grow: 1;
}

#sig-info .tab-content > div.active{
}
