#lower-left-content {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

#lower-left-content .nav {
    margin-bottom: 10px;
    flex-grow: 0;
    flex-shrink: 0;
}

#lower-left-content .tab-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

#lower-left-content .tab-content > div{
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: auto;
    min-height: 0;
}

#lower-left-content .tab-content > div.active{
    display: flex;
}

#lower-left-content .meta-table td:first-child{
    padding-right: 15px;
    font-weight: bold;
    text-align: right;
}

#lower-left-content .meta-table td{
    padding: 5px;
}

#lower-left-content .meta-expand-table td:first-child{
    text-align: right;
}

#selection-info-table-meta td.details-control {
    cursor: pointer;
}

#selection-info-table-meta td.details-control::before {
    content: "\25B6";
}

#selection-info-table-meta tr.shown td.details-control::before {
    content: "\25BC";
}


#lower-left-content #dist-div{
    overflow: hidden;
}

#lower-left-content #sig-info-cluster > div{
    flex-grow: 1;
    flex-shrink: 1;
}
#lower-left-content #sig-info-cluster > div:first-child{
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#lower-left-content #sig-info-cluster > div:first-child > span {
    margin-right: 5px;
}

#selected-cell-info .meta-table{
    margin-left: 80px
}

.checkbox-label{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox-label *:first-child {
    margin-right: 5px;
}

.checkbox-label label{
    margin-bottom: 0; /* undo bootstrap styling */
}

/* Hack stuff for data-tables columns */

#lower-left-content .dataTables_scrollHead .dataTables_scrollHeadInner{
    width: 100% !important;
}
#lower-left-content .dataTables_scrollHead table.dataTable{
    width: 100% !important;
}
