
#sigvp-scatter-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
}


#plot-title-div{
    flex-shrink: 0;
    word-wrap: break-word;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    height: 73px;
    margin-bottom: 10px;
}

#plot-title-div .titles{
    flex-grow: 1;
}

#plot-title-div .titles .subtitle, #plot-title-div .titles .title{
    margin: 10px;
    font-family: "Arial", Helvetica, sans-serif;
}

#plot-title-div .titles .title{
    max-height: 2em;
    overflow-y: hidden;
}

#plot-title-div .titles .subtitle{
    font-size: 13px;
    display: flex;
    align-items: baseline;
}

#plot-title-div .color-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    max-width: 450px;
}

#plot-title-div .color-options > div {
    margin-left: 20px;
}

#plot-title-div .color-options label{
    padding: 0 6px;
}

#plot-title-div .color-options .label{
    font-size: .7em;
    font-weight: bold;
    margin-bottom: 5px;
}

#plot-title-div .color-options .btn-group{
    vertical-align: bottom;
}

#plot-title-div button
{
    padding: 0 6px;
    vertical-align: baseline;
}

#scatter-div {
    flex-grow: 1;
}

#scatter-div svg {
    font: 10px sans-serif;
    /*background-color: rgba(255,255,255,0);*/
}

#scatter-div rect {
    fill: #eee;
}

#scatter-div svg circle.scatter{
    fill-opacity: 0.8;
}

#scatter-div svg circle.scatter.not-selected{
    fill-opacity: 0.4;
}

#scatter-div svg circle.scatter.point-faded{
    fill-opacity: 0.3;
}

#scatter-div svg circle.scatter.point-hover{
    fill-opacity: .8;
}

#scatter-div .axis path,
#scatter-div .axis line {
    fill: none;
    stroke: #fff
}

/* Classes for the scatter plot lasso */

.lasso path {
	stroke: rgb(80, 80, 80);
	stroke-width: 2px;
}

.lasso .drawn  {
	fill-opacity: 0.5;
}	

.lasso .loop_close {
	fill: none;
	stroke-dasharray: 4,4;
}

.lasso .origin {
	fill: #3399FF;
	fill-opacity: .5;
}

.not-possible {
	fill: rgb(85,85,85);
}

.possible {
	fill: black;
}

.legend-subs {
	font: 11px 'Open Sans', sans-serif;
    stroke-width: 0;
}

