
#sigvp-scatter-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
}


#plot-title-div{
    flex-shrink: 0;
    word-wrap: break-word;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-bottom: 10px;
}

#plot-title-div .titles{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
}

#plot-title-div .titles .subtitle{
    margin: 10px;
    font-family: "Arial", Helvetica, sans-serif;
}

#plot-title-div .titles .subtitle{
    font-size: 13px;
    display: flex;
    align-items: baseline;
}

#plot-title-div .color-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    max-width: 450px;
}

#plot-title-div .color-options > div {
    margin-left: 20px;
}

#plot-title-div .color-options label{
    padding: 0 6px;
    display: flex; /* Needed so icons are centered vertically */
}

#plot-title-div .color-options .label{
    font-size: .7em;
    font-weight: bold;
    margin-bottom: 5px;
}

#plot-title-div .color-options .btn-group{
    vertical-align: bottom;
}

#plot-title-div button
{
    padding: 0 6px;
    vertical-align: baseline;
}

#scatter-container-div {
    flex-grow: 1;
    display: flex;
    flex-direction: column
}

.scatter-layout-container {
    flex-grow: 1;
    overflow: hidden; /* so it shrinks even when plot is too big */
    display: flex;
    flex-direction: column;
}

.scatter-split-row-div {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    flex-direction: row;
    overflow: hidden;
}

.scatter-split-plot-div {
    display: flex; /* even though this isn't a flex container, fixes it's shrinking/growing */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    border: solid 1px #ffffff;
    overflow: hidden;
}

.scatter-split-plot-div.active {
    border: solid 1px black;
}
