@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");


html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    color: #555;
    background: #eee;
    font: 14px/1 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

#nav-bar{
    height: 50px;
    padding: 10px 30px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    box-sizing: border-box;
    border: 1px solid #bbbbbb;
    flex-shrink: 0;
}

#nav-bar .logo{
    font-size: 20px;
    margin-left: 50px;
    font-weight: bold;
}

#nav-bar .nav{
    flex-grow: 1;
    font-size: 1.2em;
}

#main-content{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#left-content{
    width: 500px;
    display: flex;
    flex-direction: column;
}

#upper-left-content{
    height: 50%;
    box-sizing: border-box;
}

#lower-left-content{
    height: 50%;
    box-sizing: border-box;
    border-top: 1px solid #bbbbbb;
}

#right-content{
    flex-grow: 1;
    box-sizing: border-box;
    border-left: 1px solid #bbbbbb;
}

.btn-bottom-margin{
    margin-bottom: .5rem;
}

.section-nav
{
    font-size: 1em;
}

table.label-table td:first-child{
    font-weight: bold;
    padding-right:10px;
}

table.label-table td{
    padding: 5px;
}

.label1 {
    font-weight: bold;
    font-size: 1.2em;
}

.loading {
    -webkit-filter: grayscale(100%) blur(5px);
    filter: grayscale(100%) blur(5px);
}
