#upper-left-content {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

#upper-left-content #cluster-group-select:disabled {
    opacity: 0.5;
}

#upper-left-content .nav-link {
    padding: .5rem .5rem; /* Override to fit more nav items in */
}

.upper-left-section-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0; /* This prevents flex from growing to full size of children */
}

.tab-content.upper-left-section-content > .active {
    display: flex;  /* overrides bootstrap setting this to block */
}

.upper-left-section-content > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
}

.upper-left-section-content .sig-tables-header{
    margin-right: 15px; /* Account for padding of div below it */
    margin-bottom: 5px;
    padding-top: 35px;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-shrink: 0;
}

.upper-left-section-content .sig-tables-wrapper{
    overflow-y: scroll;
    overflow-x: auto;
}

.sig-table-div{
    display: table;
}

.sig-table-div:not(:first-child){
    margin-top: 30px;
}

.sig-table{
    table-layout: fixed;
    height: 100%;
}

.sig-table th:first-child > div{
    text-align:left;
    width: 200px;
    padding-right: 10px;
}

.sig-table th:not(:first-child) > div > div{
    transform-origin: left bottom 0;
    transform: translate(20px,-2px) rotate(-75deg);
    text-align: left;
    white-space: nowrap;
}

.sig-table.compact th:not(:first-child) > div > div{
    transform-origin: left bottom 0;
    transform: translate(12px,-2px) rotate(-75deg);
    text-align: left;
    white-space: nowrap;
}

.sig-table.first-col th:nth-child(2) > div > div{
    transform-origin: left bottom 0;
    transform: translate(30px,-2px) rotate(-75deg);
    text-align: left;
    white-space: nowrap;
}

.sig-table td, .sig-table th{
    padding: 0;
}

.sig-table td:first-child{
}

.sig-table tr:nth-child(even) td:first-child{
    background-color: #eeeeee;
}

.sig-table td:not(:first-child), .sig-table th:not(:first-child){
    cursor: pointer;
}

.sig-table td:not(:first-child) > div, .sig-table th:not(:first-child) > div{
    width: 30px;
    font-size: 0.8em;
    text-align: center;
}

.sig-table td:not(:first-child){
    border: 1px solid black;
}

.sig-table th:not(:first-child){
    border: 1px solid transparent;
    vertical-align: bottom;
}

.sig-table td:first-child > div{
    width: 200px;
    font-size: 0.8em;
    font-weight: bold;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    cursor: pointer;
    padding: 3px 10px 3px 5px;
    position: relative;
}

.sig-table td:not(:first-child):hover{
    filter: brightness(0.9);
}

.sig-table.compact td:not(:first-child) > div{
    width: 15px;
}

.sig-table.compact th:not(:first-child) > div{
    width: 15px;
}

.sig-table.first-col td:nth-child(2) > div{
    width: 50px;
}

.sig-table.first-col th:nth-child(2) > div{
    width: 50px;
}


table td.highlight, table th.highlight{
    color: #28a745;
}


.filtered {
    display: none;
}

table.collapsed tr:not(:first-child){
    display: none;
}

table.collapsible tr > td:first-child > .sig-row-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Wrap long signature names */
table.collapsible tr > td:first-child > .sig-row-label > div {
    word-break: break-all;
}

/* Add spacing for un-collapsed rows so they line up with the top row */
table.collapsible tr > td:first-child > .sig-row-label::before {
    content: "";
    width: 16px;
    flex-shrink: 0;
}

/* Add chevron on row that triggres collapsing */
table.collapsible tr:first-child > td:first-child > .sig-row-label::before {
    content: "\25BC ";
}

table.collapsible.collapsed tr:first-child > td:first-child > .sig-row-label::before {
    content: "\25B6 ";
}

#meta-table-div{
    overflow-x: hidden;
}

#genes-table{
    overflow-y: false;
}

#genes-table > div:first-child{
    margin-top: 50px;
    align-self: center;
    display: flex;
    align-items: baseline;
}

#genes-table #recent-genes-div{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

#genes-table #recent-genes-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#genes-table #recent-genes-list > div{
    flex-shrink: 0;
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

#de-table > .controls {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

#de-table > .controls > .group-control {
    margin-top: 10px;
    flex-grow: 0;
    flex-shrink: 0;
}

#de-table > .controls > .fgbg {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
}

#de-table > .controls > .fgbg > div {
    display: flex;
    flex-direction: column;
}

#de-table > .controls select,
#de-table > .controls .chosen-container{
    margin-top: 5px;
}

#de-table .collapsed-controls {
    margin-top: 1em;
}

#de-table .collapsed-controls > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 1em;
}

#de-table .collapsed-controls .label-control {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#de-table .collapsed-controls .label-control .label {
    padding-right: .5em;
}

#de-table .collapsed-controls label {
    margin-bottom: 0; /* undo bootstrap styling */
}

#de-table .collapsed-controls input[type=number] {
    width: 5em;
    text-align: left;
}

#de-table .collapsed-controls .disabled {
    opacity: .4;
    pointer-events: none;
}

/* Turn off annoying number spinners */

#de-table .collapsed-controls input::-webkit-outer-spin-button,
#de-table .collapsed-controls input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#de-table .collapsed-controls input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#de-table > #de-results {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

#de-table #de-error {
    margin: 30px 20px 30px 20px;
    text-align: center;
    line-height: 2em;
    color: crimson;
}

#de-table #de-results-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

#de-results .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#de-results > div {
    flex-shrink: 0;
    flex-grow: 0;
    min-height: 0;
}

#de-results > #de-results-table-div {
    flex-shrink: 1;
    /*flex-grow: 1;*/
}

#de-results > .spacer {
    flex-grow: 1;
    flex-shrink: 1;
}

#de-results > .spacer2 {
    flex-grow: .5;
    flex-shrink: .5;
}

#de-results .fdr-filter {
    float: left;
    text-align: left;
}

#de-results .fdr-filter input {
    width: 8em;
    margin-left: 0.5em;
}

#de-results .dataTables_wrapper .dataTables_info {
    max-width: 20em;
    min-height: 3em;
}



/* Stying for d3 tooltips on the scatter */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
